@import 'constants.scss';

.resource_url {
    font-size: 1em;
    margin: 0.25em 0;
    font-family: Monaco, Menlo, Consolas, 'Courier New', monospace;
}

.resource_url_method {
    text-transform: uppercase;
    background-color: #0074eced;
    color: #fff;
    border-radius: 3px;
    padding-right: 8px;
    padding-left: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.table {
    width: 100%;
    max-width: 100%;
    font-size: 0.9em;

    th, td {
        padding: 0.75em 0.5em;
        padding-left: 0.3em;
        text-indent: -0.3em;
        padding-right: 3em;
        text-align: left;
        vertical-align: text-top;
        border: 0px;
    }

    p, h1, h2, h3 {
        margin: 0;
    }

    tbody > tr {

        td:nth-child(2), td:nth-child(3) {
            color: #24292ea1;
        }
    }

    thead {
        th {
            font-weight: 400;
        }
    }
}

.name_column {
    width: 10em;
    min-width: 6em;
    // max-width: 8.75em;
}
.desc_column {
    width: 50%;
}
.type_column {
    width: 10em;
    min-width: 6em;
    // max-width: 11em;
}
.type_column_body {
    font-family: Monaco, Menlo, Consolas, 'Courier New', monospace;
    font-weight: 700;
}

.title_section_name {
    border-top: 1px solid $brand-color;
    padding-top: 2em;
}

.section_name {
    font-weight: bold;
    font-size: 1.25em;
    margin: 1em 0 0;
}

.section_type {
    font-weight: 400;
    font-size: 20px;
    color: #24292ea1;
}

.model_name {
    font-weight: 600;
    font-size: 1.15em;
    margin: 1em 0 0.25em;
}
