.resource_url {
    font-size: 1.25em;
    margin: 0.25em 0;
}

.table {
    width: 100%;
    max-width: 100%;
    font-size: 0.9em;

    th, td {
        padding: 0.25em 0.5em;
        text-align: left;
    }

    p, h1, h2, h3 {
        margin: 0;
    }
}

.name_column {
    width: 10em;
    min-width: 6em;
    // max-width: 8.75em;
}
.desc_column {
    width: 50%;
}
.type_column {
    width: 10em;
    min-width: 6em;
    // max-width: 11em;
}

.section_name {
    font-weight: bold;
    font-size: 1.25em;
    margin: 1em 0 0;
}
.model_name {
    font-weight: normal;
    font-size: 1.15em;
    margin: 1em 0 0.25em;
}
