@import "sizes.scss";

.footer {
    border-top: 1px solid #ccc;
    padding: 1em;
    background-color: #f7f7f7;
}

.container {
    max-width: $page-max-width;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
