@import "colors.scss";

.container {
    margin: 0.75em 0;
}

.codebox {
    display: block;
    font-size: 0.8em;
    line-height: 1.4;
    color: #333;
    background-color: #f0f0f0;
    border: 1px solid $border-color;
    border-top-width: 2px;
    font-family: Monaco, Menlo, Consolas, 'Courier New', monospace;
    padding: 0 0.5em;
    margin: 0;

    @media (max-width: 30rem) {
        font-size: 0.7em;
    }

    :global .node-ellipsis {
        // Want to modify the value of the original lib.
        // https://github.com/mac-s-g/react-json-view/blob/master/src/js/themes/styleConstants.js#L14
        font-size: 0.8em !important;
    }
}

.small {
    max-height: 23rem;
    overflow-y: auto;
}

.title {
    display: inline-block;
    font-size: 0.9em;
    font-weight: normal;
    background: $border-color;
    padding: 0.25em 0.5em calc(0.25em - 2px);
    // border-radius: 0.25em 0.25em 0 0;
    margin: 0;
}

.header {
    display: flex;
    align-items: baseline;
}

.checkbox {
    cursor: pointer;
    margin-left: auto;
    padding: 0.1em 0.5em;
    font-size: 0.8em;
    color: #666;
    user-select: none;

    &:hover {
        background: #f0f0f0;
    }

    > input {
        cursor: inherit;
        margin-right: 5px;
    }
}
