@import 'constants.scss';

.jsonviewer {
    border: 1px solid $border-color;

    .toolbar {
        padding: 0.25em 0.5em;
        background: #f5f5f5;
        font-size: 0.9em;
    }

    .json {
        max-height: 32rem;
        height: auto;
        overflow-y: auto;
        padding: 0.5em;
        resize: vertical;
        font-family: Monaco, Menlo, Consolas, 'Courier New', monospace;
        font-size: 0.8em;

        @media (max-width: 30rem) {
            font-size: 0.7em;
        }

        .code {
            height: max-content;
            width: max-content;
            line-height: 1.4;
            margin: 0;
        }
    }
}

.hidden {
    opacity: 0;
    visibility: hidden;
    max-height: 0;
    max-width: 0;
    position: absolute;
}
