@import 'sizes.scss';
@import 'colors.scss';

.alert {
    color: $brand-color-darkest;
    background: desaturate(lighten($brand-color, 30%), 60%);

    .container {
        background: lighten($brand-color, 35%);
        max-width: $page-max-width;
        margin: 0 auto;
        padding: 0.75em 1em;

        display: flex;
        align-items: center;

        .message {
            flex: 1;
            text-align: center;

            p, h1, h2, h3, h4, h5, h6 {
                margin: 0;
                font-size: 1em;
            }
        }

        .dismiss_button {
            border: 1px solid transparent;
            border-color: none;
            background: none;
            color: inherit;
            padding: 0.4em;
            height: 1.5em;
            width: 1.5em;

            display: flex;
            align-items: center;

            &::-moz-focus-inner {
                border: none;
                padding: 0;
            }
            .image {
                width: 100%;
                height: auto;
            }
        }
    }

    & + & .container {
        margin-top: 2px;
    }

    &.is_important {
        position: sticky;
        top: $site-header-height;
        z-index: 99;
        background: none;

        @media (max-height: $short-height) {
            top: 0;
        }

        .container {
            background: lighten($brand-color, 30%);
            box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
            outline: 1px solid $brand-color-darkest;
            margin-top: 0;
        }
    }
}
