@import 'sizes.scss';
@import 'colors.scss';

.container {
    position: sticky;
    top: $site-header-height;
    font-size: 0.9em;
    max-height: calc(100vh - #{$site-header-height});
    overflow-y: auto;
    padding: 2em 1em;
}
.toc {
    padding: 0;
    margin: 0
}
.entry {
    font-weight: normal;
    padding: 0 0.5em;

    &.separator {
        height: 1px;
		width: 50%;
		background-color: $border-color;
		margin: 0.5em;
    }

    &.active {
        // background-color: transparentize(lighten($link-color, 25%), 0.85);

        & > a {
            margin-left: -0.4em;
            padding: 1px 0.35em 1px calc(0.4em - 2px);
            // padding-left: calc(0.5em - 3px);
            border-left: 2px solid $link-color;
            background: transparentize($link-color, 0.9)
        }
    }

    & > .toc {
        padding-left: 0.5em;
    }
}
