.container {
    margin: 1em 0;
}
.tryit {
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    margin: 0.5em;
}

.hint_sentence {
    margin: 0.25em 0;

    > .hint {
        margin-left: 0.25em;
    }
}

.message {
    font-weight: normal;
}
