.buttoncopy {
    cursor: pointer;
    border: 1px solid #e6e6e6;
    background: #fff;
    padding: 0.35em 0.75em;
}

.iconcopy:hover {
    opacity: 100%;
}

.iconcopy {
    color: #555;
    opacity: 75%;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

@media screen and (max-width: 700px)  {
    .buttoncopy {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    };
}
