$mobile-breakpoint: 30em;

.container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    @media (max-width: $mobile-breakpoint) {
        font-size: 0.9em;
    }
}

.prefix {
    flex: 0 0;
    white-space: nowrap;
    border: 1px solid #e6e6e6;
    border-right-width: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background: #e6e6e6;
    color: #555;
    padding: 0.35em 0.5em;
    z-index: 2;
    font-size: 1em;
    // @media (max-width: $mobile-breakpoint) {
        // flex: 1;
        // min-width: 100%;
    // }
}
.input {
    flex: 1;
    font-size: 1em;
    padding: 0.35em 0.5em;
    border: 1px solid #e6e6e6;
    min-width: 8em;
    -webkit-tap-highlight-color: transparent;
    &:focus {
        border: 1px solid #66afe9;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
            0 0 8px rgba(102, 175, 233, 0.6);
        outline: none;
    }
}

$button-color: #0074eced;
.button {
    background-color: $button-color;
    color: white;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0.35em 0.75em;
    font-size: 1em;
    display: block;
    width: 7em;
    min-width: max-content;
    cursor: pointer;

    &:hover {
        background-color: darken($button-color, 3%);
    }
    &:active {
        background-color: darken($button-color, 10%);
    }
}

@media screen and (max-width: 700px)  {
    .button {
        flex-grow: 1;
        border-radius: 10px;
        margin-top: 10px;
        width: 100%;
    }
}
