$mobile-breakpoint: 30em;

.container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    @media (max-width: $mobile-breakpoint) {
        font-size: 0.9em;
    }
}

.prefix {
    flex: 0 0;
    white-space: nowrap;
    border: 1px solid #ccc;
    border-right-width: 0;
    background: #f5f5f5;
    color: #555;
    padding: 0.35em 0.5em;
    z-index: 2;
    font-size: 1em;
    // @media (max-width: $mobile-breakpoint) {
        // flex: 1;
        // min-width: 100%;
    // }
}
.input {
    flex: 1;
    font-size: 1em;
    padding: 0.35em 0.5em;
    border: 1px solid #ccc;
    min-width: 8em;
    -webkit-tap-highlight-color: transparent;
    &:focus {
        border: 1px solid #66afe9;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
            0 0 8px rgba(102, 175, 233, 0.6);
    }
}

$button-color: #1b95e0;
.button {
    background-color: $button-color;
    color: white;
    border: none;
    padding: 0.35em 0.75em;
    font-size: 1em;
    display: block;
    min-width: max-content;

    &:hover {
        background-color: darken($button-color, 3%);
    }
    &:active {
        background-color: darken($button-color, 10%);
    }
}
