@import 'constants.scss';

$banner-color: #263238;
.banner_background {
    color: white;
    background-color: desaturate($banner-color, 20%);
}
.banner {
    padding: 2em;
    background-color: $banner-color;
    text-align: center;
    max-width: $page-max-width;
    margin: 0 auto;
    min-height: 12.5em;

    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
        margin: 0.1em;
        font-size: 2.3em;
    }
    h2 {
        margin: 0.1em;
        font-size: 1.75em;
        font-weight: normal;
        border: none;
    }
    p {
        font-size: 1.2em;
        margin: 0.1em;
    }
}

$cta-color: #ebf5f0;
.cta_background {
    background-color: desaturate($cta-color, 25%);
    @media (max-width: 32rem) {
        font-size: 0.9rem;
    }
    @media (max-width: 29rem) {
        font-size: 0.8rem;
    }
}
.cta {
    display: flex;
    flex-direction: column;
    justify-content: center;

    max-width: $page-max-width;
    margin: 0 auto;

    background-color: $cta-color;
    padding: 1em;
    text-align: center;
    font-size: 1.25em;
    line-height: 1.5;

    p {
        margin: 0.5rem 0;
    }
}


.faqs {
    display: grid;
    grid-gap: 1.5em;
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
    // grid-auto-rows: 1fr;
    margin: 1em 0;

    .faq {
        display: flex;
        flex-direction: column;

        .faq_title {
            font-size: 1.25rem;
            font-weight: normal;
            margin: 0 0 0.5em 0;
            text-align: center;
        }
        .faq_content {
            border: 1px solid $border-color;
            border-top-width: 2px;
            background: #f5f5f5;
            flex: 1;
            padding: 0.75em 1em;
            font-size: 0.9em;
            line-height: 1.75;

            & > :first-child {
                margin-top: 0;
            }
            & > :last-child {
                margin-bottom: 0;
            }
        }
    }
}
