@import 'constants.scss';

.jsonviewer {
    border-radius: 5px;

    .toolbar {
        padding: 0.25em 0.5em;
        background: #fbfbfb;
        font-size: 0.9em;
        border-top: 1px solid #cccccc;
    }

    .json {
        background-color: #fbfbfb;
        max-height: 32rem;
        height: auto;
        overflow-y: auto;
        padding: 0.5em;
        resize: vertical;
        font-family: Monaco, Menlo, Consolas, 'Courier New', monospace;
        font-size: 0.8em;

        @media (max-width: 30rem) {
            font-size: 0.7em;
        }

        .code {
            height: max-content;
            width: max-content;
            line-height: 1.4;
            margin: 0;
        }

        ul {
            background-color: #fbfbfb !important; /* HACK: I cannot understand how base16 works in tomorrow.json, it seems a reversed HEX*/
        }
    }
}

.hidden {
    opacity: 0;
    visibility: hidden;
    max-height: 0;
    max-width: 0;
    position: absolute;
}
