@import 'sizes.scss';

$cta-color: #ebf5f0;

.cta {
    background-color: desaturate($cta-color, 25%);
    @media (max-width: 32rem) {
        font-size: 0.9rem;
    }
    @media (max-width: 29rem) {
        font-size: 0.8rem;
    }
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    max-width: $page-max-width;
    margin: 0 auto;

    background-color: $cta-color;
    padding: 1em;
    text-align: center;
    font-size: 1.25em;
    line-height: 1.5;

    p {
        margin: 0.5rem 0;
    }
}
