---
import ditto from '../data/ditto.json'
const dittoJson = JSON.stringify(ditto)
const pokeUrl = 'https://pokeapi.co/api/v2/ '

import { Aside, Icon } from '@astrojs/starlight/components'
---

<link is:raw rel="stylesheet" href="https://cdn.jsdelivr.net/gh/williamtroup/JsonTree.js@4.7.0/dist/jsontree.js.min.css">

<link rel="stylesheet" href="./styles/koki.css">
<script is:inline src="./js/koki.js"></script>

<style is:inline>
  @layer starlight, arbol, koki;

  @layer koki {
    #json-preview {
      /* Header */
      --arbol-header-bg: var(--sl-color-bg-sidebar);
      --arbol-header-text-color: var(--sl-color-gray-1);

      /* General */
      --arbol-bg-color: var(--sl-color-bg-inline-code);
      --arbol-text-color: var(--sl-color-white);
      --arbol--text-font: var(--__sl-font);
      --arbol--text-size: var(--sl-text-body);

      /* Code */
      --arbol-code-text-font: var(--__sl-font-mono);
      --arbol-code-text-size: var(--sl-text-code);
      --arbol-code-text-color: var(--sl-color-gray-1);
      --arbol-code-variable: var(--sl-color-orange-high);
      --arbol-code-value: var(--sl-color-green-high);
      --arbol-code-numeric: var(--sl-color-purple-high);
      --arbol-code-bool: var(--sl-color-blue-high);
      --arbol-code-string: var(--sl-color-accent-high);
      --arbol-code-undefined: var(--sl-color-red-high);
      --arbol-code-misc: var(--sl-color-orange-high);
    }
  }
</style>

<section class="py-12">
  <dialog
    open
    id="copy-dialog"
    class="
      z-100
      bottom-10 fixed
      m-auto
      rounded-lg
      opacity-0
      transition-all
      duration-500
      ease-in-out
    "
  >
    <p class="flex align-baseline">
      <Icon name="approve-check-circle" size="24px" class="m-auto" class="mr-2" />
      Copied to clipboard
    </p>
  </dialog>
  <h2 id="try-it-now" class="text-center mb-10">Try it now!</h2>

  <Aside type="tip" title="Need a hint?">
    Try
    <a class="input-hints cursor-pointer" href="#try-it-now"><code>pokemon/ditto</code></a>,
    <a class="input-hints cursor-pointer" href="#try-it-now"><code>pokemon-species/aegislash</code></a>,
    <a class="input-hints cursor-pointer" href="#try-it-now"><code>type/3</code></a>,
    <a class="input-hints cursor-pointer" href="#try-it-now"><code>ability/battle-armor</code></a>, or
    <a class="input-hints cursor-pointer" href="#try-it-now"><code>pokemon?limit=100000&offset=0</code></a>. Read the <a
      href="./v2/openapi/"
    >OpenAPI docs</a> for more options.
  </Aside>

  <div
    class="
      flex
      flex-col
      w-full
      md:flex-row
      md:items-baseline
    "
  >
    <label
      class="
        font-bold
        text-(--sl-color-white)
        flex
        flex-col
        w-full
        md:flex-row
        md:items-baseline
        md:grow
        md:w-auto
      "
    >
      <span
        class="
          w-full
          mb-2
          text-center
          md:text-left
          md:w-auto
        "
      >{pokeUrl}</span>
      <div class="flex md:grow md:mr-4">
        <input
          class="
            w-auto
            text-center
            p-3 rounded-md
            bg-(--sl-color-gray-5)
            grow
            md:ml-4
            md:text-left
          "
          type="text"
          name="pokeapi-path"
          id="pokeapi-path"
          placeholder="path/segment"
          required
          title="no"
          value="pokemon/ditto"
          pattern="(\w|\d|-)+( |(/(\w|\d|-)+)+)"
          minlength="1"
          onkeypress="if(event.key === 'Enter') sendRequest()"
        >
        <button
          id="copy-url-to-clipboard"
          class="
            font-semibold
            p-3 rounded-md
            ml-2
            cursor-pointer
            flex
            align-middle
            justify-center
          "
        >
          <Icon name="document" size="24px" class="m-auto" />
        </button>
      </div>
    </label>
    <button
      id="sendRequestSubmit"
      class="
        bg-(--sl-color-accent)
        text-(--sl-color-white)
        font-semibold
        p-3 rounded-md
        cursor-pointer
        w-full
        mb-4
        md:w-auto
        md:mb-0
      "
      onclick="sendRequest()"
    >
      Send Request
    </button>
  </div>
  <p>
    Direct link to results: <a id="pokeapi-direct-link" target="_blank" href="https://pokeapi.co/api/v2/pokemon/ditto"
    >https://pokemon.co/v2/pokemon/ditto</a>
  </p>

  <article
    id="json-preview"
    data-ditto={dittoJson}
    class="
      not-content
      [&_summary_header_h2]:text-lg!
      md:[&_summary_header_h2]:text-xl!
    "
  >
    <div id="json-container">hello</div>
  </article>
</section>

<script is:inline defer>
  const jsonPreview = document.getElementById('json-preview')
  const pokeapiPathInput = document.getElementById('pokeapi-path')
  const pokeapiDirectLink = document.getElementById('pokeapi-direct-link')
  let ditto = jsonPreview.dataset.ditto

  const pokeUrl = 'https://pokeapi.co/api/v2/'
  const jsonContainer = document.getElementById('json-container')

  let pokeApiPath = document.querySelector('#pokeapi-path').value
  let requestUrl = pokeUrl + pokeApiPath

  kokiInit(ditto, jsonContainer, 'Resource for ditto')

  function copyToClipboard(text) {
    navigator.clipboard.writeText(text)
      .then(() => {
        const durationTime = 500
        const hiddenDelay = 2000

        console.log('Text copied to clipboard')
        copyDialog.classList.remove('hidden')
        copyDialog.classList.add('block')
        setTimeout(() => {
          copyDialog.classList.add('opacity-100')
          copyDialog.classList.remove('opacity-0')
        })
        setTimeout(() => {
          copyDialog.classList.remove('opacity-100')
          copyDialog.classList.add('opacity-0')
          setTimeout(() => {
            copyDialog.classList.add('hidden')
            copyDialog.classList.remove('block')
          }, durationTime)
        }, hiddenDelay)
      })
      .catch((err) => console.error('Failed to copy: ', err))
  }

  const copyToUrlClipboardButton = document.getElementById('copy-url-to-clipboard')
  const copyDialog = document.getElementById('copy-dialog')

  copyToUrlClipboardButton.addEventListener('click', function () {
    pokeApiPath = pokeapiPathInput.value
    const url = pokeUrl + pokeApiPath

    copyToClipboard(url)
  })

  async function sendRequest() {
    pokeApiPath = pokeapiPathInput.value
    const url = pokeUrl + pokeApiPath

    if (url !== requestUrl) {
      pokeapiPathInput.disabled = true
      kokiInit(ditto, jsonContainer, 'Loading...')
      try {
        const response = await fetch(url)
        const { status } = response
        if (status === 200) {
          const jsonData = await response.json()
          ditto = JSON.stringify(jsonData)
          const titleName = jsonData.name || pokeApiPath
          const title = `Resource for ${titleName}`
          pokeapiDirectLink.innerHTML = url
          pokeapiDirectLink.href = url

          kokiInit(ditto, jsonContainer, title)
        } else {
          kokiInit('null', jsonContainer, 'Resource not found')
        }
      } catch (err) {
        console.log('ERROR', err)
        kokiInit('null', jsonContainer, 'Resource not found')
      }
      requestUrl = url
    } else {
      requestUrl = url
      console.log('dupes', url)
    }
    pokeapiPathInput.disabled = false
    pokeapiPathInput.scrollIntoView({ behavior: 'smooth', block: 'start' })
  }

  const inputHints = document.querySelectorAll('.input-hints code')
  inputHints.forEach((inputHint) => {
    console.log(inputHint.innerText)

    inputHint.addEventListener('click', function () {
      pokeapiPathInput.value = inputHint.innerText
      sendRequest()
    })
  })
</script>
