// @import 'normalize.scss';

@import 'colors.scss';
@import 'sizes.scss';

html {
    box-sizing: border-box;
    * {
        box-sizing: inherit;
    }
}

/* Sticky footer (see https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/)
	Make sure the footer never lifts past the bottom of the page.
*/
html,
body,
#___gatsby,
#___gatsby > div {
    min-height: 100vh;
}
#___gatsby > div {
    display: flex;
    flex-direction: column;
}
.site-header,
.site-footer {
    flex: none;
}
.site-content {
    flex: 1 0 auto;
    width: 100%;
}
/* / */

body {
    font-family: 'Lato', sans-serif;
    line-height: 1.35;
    background-color: #f9f9f9;
    color: #263238;
    margin: 0;
}

a {
    text-decoration: none;
    color: $link-color;
    &:hover {
        text-decoration: underline;
    }
}

// Push the target element (element with id matching URL hash) below the fixed header
:target[id]:before {
    content: '';
    display: block;
    height: $site-header-height * 1.5;
    margin: -$site-header-height * 1.5 0 0;
}

table {
    max-width: 100%;
}
th, td {
    border: 1px solid #CCC;
    padding: 0.5em;
}

h2 {
    border-bottom: 1px solid $border-color;
}

// Reset sanitize.css's weird design choices regarding cursors
html,
[aria-busy='true'],
[aria-controls],
[aria-disabled],
[disabled] {
    cursor: auto;
}
