---
import Pagination from '@astrojs/starlight/components/Pagination.astro'
---

<nav class="py-12">
  <Pagination></Pagination>
</nav>
<footer
  class="
    px-2 py-4
    flex-col items-center
    gap-8
    bg-(--sl-color-black) border-t border-t-(--sl-color-accent)
  "
>
  <div>
    <small class="mt-4">
      Created by <a href="https://github.com/phalt"><strong>Paul Hallett</strong></a> and other <a
        href="https://github.com/PokeAPI/pokeapi/graphs/contributors"
      >PokéAPI contributors</a> around the world. Pokémon and Pokémon character names are trademarks of Nintendo.
    </small>
  </div>

  <a href="https://pokeapi.statuspage.io/">
    <figure>
      <img
        alt="Status"
        class="pt-4 grow h-auto min-w-[186px]"
        src="https://img.shields.io/badge/dynamic/json?color=blue&label=status&query=%24.status.description&url=https%3A%2F%2Fzlfyqp3hlvly.statuspage.io%2Fapi%2Fv2%2Fsummary.json"
      />
    </figure>
  </a>
</footer>
