---
const baseUrl = import.meta.env.BASE_URL
const about = baseUrl + 'about/'
const v2 = baseUrl + 'v2/'
const graphql = baseUrl + 'graphql/'
---
<nav>
  <ul
    class="
      flex gap-6
      text-(--sl-color-white) pr-4
      [&_li]:hover:text-(--sl-color-accent-high)
      [&_li]:hover:font-bold
      [&_li]:hover:underline
    "
  >
    <li>
      <a href={baseUrl}>Home</a>
    </li>
    <li>
      <a href={about}>About</a>
    </li>
    <li>
      <a href={v2}>API v2</a>
    </li>
    <li>
      <a href={graphql}>GraphQL v1Beta</a>
    </li>
  </ul>
</nav>
