---
const baseUrl = import.meta.env.BASE_URL
const thisUrl = Astro.url.pathname
const about = baseUrl + 'about/'
const v2 = baseUrl + 'v2/'
const graphql = baseUrl + 'graphql/'
---

<nav>
  <ul
    class="
      flex gap-6 pr-4
      [&_a]:text-(--sl-color-white)
      [&_a]:hover:text-(--sl-color-accent-high)
      [&_a]:hover:font-bold
      [&_a]:hover:underline
      [&_a]:font-semibold
      [&_span]:opacity-50
      [&_span]:cursor-default
      [&_span]:select-none
      list-none
    "
  >
    <li>
      {thisUrl !== baseUrl ? <a href={baseUrl}>Home </a> : <span>Home</span>}
    </li>
    <li>
      {thisUrl !== about ? <a href={about}>About</a> : <span>About</span>}
    </li>
    <li>
      {thisUrl !== v2 ? <a href={v2}>API v2</a> : <span>API v2</span>}
    </li>
    <li>
      {thisUrl !== graphql ? <a href={graphql}>GraphQL v1Beta</a> : <span>GraphQL v1Beta</span>}
    </li>
  </ul>
</nav>
