@import 'colors.scss';
@import 'sizes.scss';

// This depends on the length of the items in the header
$mobile-breakpoint: 35em;

.header {
    background-color: $brand-color;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    position: sticky;
    z-index: 100;
    top: 0;
    height: $site-header-height;

    @media (max-width: $mobile-breakpoint) {
        height: auto;
    }
    @media (max-height: 25rem) {
        position: static;
    }
}

.container {
    height: 100%;
    max-width: $page-max-width;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: stretch;

    .homelink {
        margin: 0;
        flex: 0 0;
        min-width: max-content;
        font-size: 1.5em;
        height: 100%;
        font-weight: normal;

        .link {
            display: flex;
            align-items: center;
            color: #f3f3f3;
            text-decoration: none;
            &:visited {
                color: #f3f3f3;
            }

            .title {
                margin: 0 0.5em;
            }
            img {
                height: $site-header-height;
                border: 1px solid black;
                min-width: 3em;
            }
            @media (max-width: $mobile-breakpoint) {
                // Visually hidden
                .title {
                    position: absolute;
                    opacity: 0;
                    top: -9999px;
                    left: -9999px;
                }
            }
        }
    }

    .nav {
        display: flex;

        // Align nav contents to the end of the nav. Similar to
        // 'justify-content: flex-end', while still allowing horizontal scrolling.
        &::before {
            content: '';
            flex: 1;
        }

        overflow-x: auto;
        height: $site-header-height;
        padding: 0;
        margin: 0;
        list-style: none;
        color: white;

        @media (max-width: $mobile-breakpoint) {
            flex: 1 1;
            min-width: 5em;
            mask-image: linear-gradient(
                to right,
                transparent,
                black 20px,
                black 90%,
                transparent
            );
        }
    }
}
