@import 'constants.scss';

.container {
    max-width: $page-max-width;
    margin: 0 auto;
    background-color: white;
    display: flex;

    .nav {
        z-index: 10;
        align-self: flex-start;
        min-width: max-content;
        flex: 1 0;

        position: sticky;
        top: $site-header-height;
        @media (max-height: $short-height) {
            top: 0;
        }

        padding: 2rem;
        font-size: 0.9em;
        background: white;
    }
    .content {
        flex: 4;
        min-width: 0;
        padding: 1rem;
    }
}

.breadcrumbs {
    display: none;
}

.tableofcontents {
    display: block;
    max-height: calc(100vh - #{$site-header-height});
    overflow-y: auto;

    .title {
        border: none;
        font-size: 1.25em;
        font-weight: bold;
        margin: 0.5rem 0;
        padding-left: 0.5rem;
    }
}

@media (max-width: 55em) {
    .container {
        display: block;
        .nav {
            padding: 0.75rem ;
            box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
        }
        .content {
            padding: 0.9rem;
        }
    }
    .breadcrumbs {
        display: block;
    }
    .tableofcontents {
        display: none;
    }
}
