@import 'constants.scss';

.footer {
    border-top: 1px solid $brand-color;
    padding: 1em;
    background-color: #fbfbfb;
}

.container {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;

    div:first-child {
        grid-column: 1 / 4;
    }

    div:last-child {
        grid-column: 4;
    }
}
