@import 'colors.scss';
@import 'sizes.scss';

.crumb {
    display: inline-block;
    position: relative;
}

.button {
    padding: 0.25em 0.5em;
    margin: 0;
    font-size: 1em;
    color: white;
    background: $button-color;
    border: none;

    box-shadow: inset 0 0 0px rgba(0, 0, 0, 0.2), 2px 2px 2px rgba(0, 0, 0, 0.2);
    // // transition: box-shadow 0.1s, transform 0.1s;

    display: inline-block;
    text-decoration: none;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;

    &::after {
        content: '';
        display: inline-block;
        width: 0;
        height: 0;
        margin: 0 0.1em 0 0.3em;

        /* triangle */
        color: transparent;
        border-left: 0.35em solid;
        border-right: 0.35em solid;
        border-bottom: 0.175em solid;
        border-top: 0.35em solid lighten($button-color, 45%);
    }

    &:hover {
        background-color: darken($button-color, 3%);
    }
    &:active {
        background-color: darken($button-color, 10%);
        box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2),
            0 0 0px rgba(0, 0, 0, 0.2);
        // // transition: box-shadow 0.1s, transform 0.1s;
        transform: scale(0.99);
    }
}

.menu {
    position: absolute;
    margin: 0;
    padding: 0;
    list-style-type: none;
    min-width: 100%;
    width: max-content;
    z-index: 10;

    overflow: auto;
    max-height: calc(100vh - #{$site-header-height} - 4em);

    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
}

.menuitem {
    background: #eee;

    a {
        padding: 0.25em 0.4em;
        text-decoration: none;
        color: inherit;
        display: flex;
        justify-content: space-between;

        &:focus {
            outline: none;
            background: lighten($button-color, 40%);
        }

        /* spacer */
        &::after {
            content: '';
            width: 1em;
            margin-left: 0.75em;
        }
    }
}

.menuitem.active {
    background: lighten($button-color, 30%);

    /* checkmark */
    a::after {
        content: '';
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15.939 11.525'%3E %3Cpath stroke='black' fill='none' d='M2058.076,300.334l4.767,4.767,10.465-10.465' transform='translate(-2057.723 -294.283)' /%3E %3C/svg%3E");
        height: 1em;
        width: 1em;
        margin-left: 0.75em;
        background-repeat: no-repeat;
        background-position: bottom center;
    }
}

.menuitem.separator {
    height: 1px;
    padding: 0;
    background: black;
}
