$brand-color: #ef5350;
$brand-color-lighter: #e94141;
$brand-color-darker: #d32b2b;
$brand-color-darkest: #c62828;
$link-color: #1c88cc;
$border-color: #dfdede;

$button-color: #1b95e0;

// $page-max-width: 80.75rem;
$page-max-width: 72rem;
$site-header-height: 3.125rem;
$short-height: 25rem;
