@import 'constants.scss';

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    * {
        box-sizing: inherit;
        scroll-behavior: smooth;
    }
}

/* Sticky footer (see https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/)
	Make sure the footer never lifts past the bottom of the page.
*/
html,
body {
    height: 100%;
}
#root {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
#site-header,
#site-footer {
    flex: none;
}
#site-content {
    flex: 1 0 auto;
    width: 100%;
}
/* / */

body {
    font-family: 'Lato', sans-serif;
    line-height: 1.35;
    background-color: #f9f9f9;
    color: #263238;
    margin: 0;
}

a {
    text-decoration: none;
    color: $link-color;
    &:hover {
        text-decoration: underline;
    }
}

// Push the target element (element with id matching URL hash) below the fixed header
// :target[id]:before {
//     content: '';
//     display: block;
//     height: $site-header-height * 1.5;
//     margin: -$site-header-height * 1.5 0 0;
// }

table {
    max-width: 100%;
}
th,
td {
    border: 1px solid #ccc;
    padding: 0.5em;
}

// Reset sanitize.css's weird design choices regarding cursors
html,
[aria-busy='true'],
[aria-controls],
[aria-disabled],
[disabled] {
    cursor: auto;
}

// Let input textarea select button elements have the same font of the body element
input, textarea, select, button {
    font-family: inherit;
}
