@import 'constants.scss';

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    * {
        box-sizing: inherit;
        scroll-behavior: smooth;
    }
}

/* Sticky footer (see https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/)
	Make sure the footer never lifts past the bottom of the page.
*/
html,
body {
    height: 100%;
}
#root {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
#site-header,
#site-footer {
    flex: none;
}
#site-content {
    flex: 1 0 auto;
    width: 100%;
}
/* / */

body {
    font-family: 'Lato', sans-serif;
    line-height: 1.35;
    background-color: #fbfbfb;
    color: #263238;
    margin: 0;
}

a {
    text-decoration: none;
    color: $link-color;
    &:hover {
        text-decoration: underline;
    }
}

// Push the target element (element with id matching URL hash) below the fixed header
// :target[id]:before {
//     content: '';
//     display: block;
//     height: $site-header-height * 1.5;
//     margin: -$site-header-height * 1.5 0 0;
// }

table {
    max-width: 100%;
}
th,
td {
    border: 1px solid #ccc;
    padding: 0.5em;
}

// Reset sanitize.css's weird design choices regarding cursors
html,
[aria-busy='true'],
[aria-controls],
[aria-disabled],
[disabled] {
    cursor: auto;
}

// Let input textarea select button elements have the same font of the body element
input, textarea, select, button {
    font-family: inherit;
}

a {
    color: #0074eced;
}

a:hover {
    background-color: rgba(187,239,253,0.3);
}

kbd {
    display: inline-block;
    margin: 0 .1em;
    padding: .1em .6em;
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-size: 11px;
    line-height: 1.4;
    color: #242729;
    text-shadow: 0 1px 0 #fff;
    background-color: #e4e6e8;
    border: 1px solid #9fa6ad;
    border-radius: 3px;
    box-shadow: 0 1px 1px #0c0d0e26,inset 0 1px 0 0 #fff;
    white-space: nowrap;
    vertical-align: bottom;
}

.code {
    white-space: break-spaces;
}